@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lesson Planner App!</h1>
     <div id='calendar'></div>
     <!-- Add Modal -->

<div class="bs-example">
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Title</h5>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div id="modalBody" class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close Modal</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<a id="createLink" asp-controller="Students" asp-action="Create">
</a>

@section Scripts{
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

       var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
           events: [
         {
           title  :  "Irina",
           start  : '2022-08-14T10:30:00'
         },
         {
           
           start  : '2022-08-14T11:30:00',
           title : "Andrii"
           
         }
           ],
          dateClick: function(info) {
            document.getElementById("createLink").click();
           }
        });

        calendar.render();
      });

    </script>
}


