@model LessonCreateVM

@{
    ViewData["Title"] = "Add Lesson";
}


<h1>Add New Lesson</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select id="student" asp-for="StudentId" class="form-select" asp-items="Model?.Students">
                    <option>Select Student</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div>
                <a asp-controller="Students" asp-action="Create">Add New Student</a>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
            </div>
            <div class="input-group mb-3">
                <select id="rate" asp-for="StudentId" class="form-select" asp-items="Model?.Rates" disabled>
                    <option>Lesson Rate</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
                <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off" asp-for="IsPaid">
                <label class="btn btn-outline-success" for="btn-check-outlined" id="button-addon2"> Paid </label>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="description"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" id="theStartDate" />
            </div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Back to Lessons</a> &nbsp;
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $("#student").change(function () {
                var status = this.value;
                document.getElementById("rate").value = status;
            });
        });
     </script>
}
